 @import "tailwindcss";
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --color-black: #0C0A1D;
  --color-white: #FFFFFF;
  --color-red: #FF4140;
  --color-blue: #0B8BDD;
  --color-silver: #BAB0B8;
  --color-gradient-start: #0B8BDD;
  --color-gradient-end: #065A77;
}
@font-face {
font-family: "SF UI Display";
src: url('/assets/fonts/SF-UI-Display-Regular.ttf') format('truetype');}
@layer base {
  h1 {
    @apply  font-semibold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -2%;
    color: var(--color-black);
  }
  h2 {
    @apply  font-medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -2%;
    color: var(--color-black);
  }
  h3 {
    @apply  font-medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;
    color: var(--color-black);
  }
  p {
    @apply  font-medium;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-black);
  }
  .p-tight {
    @apply  font-medium;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-black);
  }
.p-large {
    @apply  font-medium;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-black);
  }
  .stroke-2 {
    border: 2px solid var(--color-blue);
  }

  .gradient-overlay {
    background-image: linear-gradient(90deg, var(--color-gradient-start), var(--color-gradient-end));
  }
}